@font-face {
  font-family: "IRANSansWeb";
  src: url("fonts/ttf/IRANSansWeb.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  direction: rtl;
  background-color: rgb(226 226 226);
  font-family: "IRANSansWeb", sans-serif;
}

.box {
  background-color: rgb(249 249 249);
  margin: 5% auto;
  padding: 3%;
  height: 85%;
  width: 80%;
}

#head {
  text-align: center;
  color: rgb(21, 8, 141);
  font-size: 270%;
  margin-bottom: 8%;
}

#p1 {
  text-align: center;
  font-size: 120%;
  font-weight: 700;
}

#p2 {
  text-align: justify;
  font-size: 110%;
  line-height: 3;
  margin: 10% 20%;
}

#ullist {
  list-style-type: none;
  text-align: center;
  padding: 1% 0;
  background-color: rgb(114, 114, 114);
  border-radius: 1%;
}

#ullist li {
  font-size: 130%;
  font-weight: 700;
  margin: 4% 0;
  color: black;
}

#ullist li p {
  font-size: 75%;
  color: white;
}

#p3 {
  text-align: center;
  font-size: 120%;
  font-weight: 700;
  margin: 8% 10%;
}
